<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipie Book</a> <!--So that's the header part of header which is main brand part-->
    </div>
    <!--Now adding a div which will receive the collapse class and then the navbar-collapse class-->
    <div class="collapse navbar-collapse">
<!--Creating a group of list items,so a group of links in the end,this will be an unordered list with css classes-->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipies" >Recipies</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <!--another ul which will receive the classes-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>